aquisicao_chip_e_aquecimento.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/sms-activate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -192
      ],
      "id": "7e629fb4-0897-4e48-9bab-3fa29a4f9454",
      "name": "Webhook",
      "webhookId": "d960caf3-60c2-4825-9d48-022b4f3ed87d"
    },
    {
      "parameters": {
        "url": "={$env.CHIP_API_BASE}/stubs/handler_api.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{$env.CHIP_API_KEY}}"
            },
            {
              "name": "action",
              "value": "getNumber"
            },
            {
              "name": "service",
              "value": "={{$json[\"service\"]}}"
            },
            {
              "name": "country",
              "value": "={{$json[\"country\"]}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        -192
      ],
      "id": "47f7b694-bd68-4162-9a3f-ec52adea1211",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61cd1849-19a1-45dc-963d-8df938453d64",
              "name": "=operation_id",
              "value": "={{ $json.data.split(\":\")[1] }}",
              "type": "string"
            },
            {
              "id": "1d6c1a4f-063c-4a2f-851c-acbac8409278",
              "name": "number",
              "value": "={{ $json.data.split(\":\")[2] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -192
      ],
      "id": "5f184cdd-73bb-4ec9-b5ec-e795814a700b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        -192
      ],
      "id": "6da4ded1-0d3e-40c9-9e22-c3bef416d338",
      "name": "Wait",
      "webhookId": "aa66b8a3-cdeb-41e5-9ef1-b47ed06930ae"
    },
    {
      "parameters": {
        "url": "={$env.CHIP_API_BASE}/stubs/handler_api.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{$env.CHIP_API_KEY}}"
            },
            {
              "name": "action",
              "value": "getStatus"
            },
            {
              "name": "=id",
              "value": "={{$json[\"operation_id\"]}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        16
      ],
      "id": "268eb4d7-00ea-4364-80fe-e41a3768e1a0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a99bf8bf-1dcc-43fd-adf5-dfe86cd065fa",
              "name": "status",
              "value": "={{ $json.data.split(\":\")[0] }}",
              "type": "string"
            },
            {
              "id": "005a1743-9dff-4c94-be77-57935b9ddb78",
              "name": "code",
              "value": "={{ $json.data.split(\":\")[1] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        16
      ],
      "id": "501c27a0-ee0d-4c83-9691-bf790618ae0d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ecad30b-9e13-472c-b73d-ad69cbcb236f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        -64
      ],
      "id": "a9a209fe-70db-40d4-9041-d12b406766fa",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        32
      ],
      "id": "c90fe157-7278-4a10-b8d8-4af71ed3549a",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        256
      ],
      "id": "b4c9a70d-f942-4ea3-8774-d7d72928228a",
      "name": "Wait1",
      "webhookId": "8bbdab31-30e0-4d50-97f5-2af4cb00d66d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        256
      ],
      "id": "ac5ef8ef-7d71-4375-b9c1-f55a3ccf156d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        256
      ],
      "id": "543af111-5771-4569-9046-967ea50364fb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ecad30b-9e13-472c-b73d-ad69cbcb236f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        256
      ],
      "id": "8022f751-9c28-4afb-8ba6-31f8b3447abd",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        528
      ],
      "id": "49dedd9c-4cd4-480d-805a-085ddf740fd3",
      "name": "HTTP Request3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        528
      ],
      "id": "05870794-bc2f-446f-aded-2f0e87c76b46",
      "name": "Wait2",
      "webhookId": "1813372b-2d70-413c-aa01-e428cbff69c4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        528
      ],
      "id": "24b59efa-b01c-4f5f-8266-c4e992fdd866",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        544
      ],
      "id": "3663d19c-ddab-4301-99ed-9898fe27ad41",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        544
      ],
      "id": "1b43b802-c1de-4138-997f-dd5fc9bebb0e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -352,
        752
      ],
      "id": "f619ba12-7a5f-42f4-b573-6b867b4ff764"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-cronlytic.cronlyticTrigger",
      "typeVersion": 1,
      "position": [
        368,
        720
      ],
      "id": "8627033d-4e72-4ef7-83a7-b45c858e42c5",
      "name": "Cronlytic Trigger",
      "webhookId": "8bfb3cee-e84e-4018-8984-aa2e1cefe1f2"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        560
      ],
      "id": "2ecace14-d58e-452e-bcd1-492379921dd2",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        688,
        544
      ],
      "id": "39513561-ec93-4827-9748-3ae7e862d311",
      "name": "Execute a SQL query",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        560
      ],
      "id": "dfa71c62-2e10-4d52-9d3a-0688541ced79",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1440,
        736
      ],
      "id": "f0699864-98d7-4473-bb17-e8465b51ed17"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        544
      ],
      "id": "727ef91b-7fc3-4662-a849-f89659756019",
      "name": "HTTP Request4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        544
      ],
      "id": "384ebe09-da65-4e3f-b50c-a8f420550d9b",
      "name": "Wait3",
      "webhookId": "89a7b894-15c8-4f86-aaf0-91399ccfa35c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        1008
      ],
      "id": "17ba50da-29be-4cd7-af01-091d28e545ae",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        1024
      ],
      "id": "4f343648-b272-4741-8978-ea72b90063be",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        256,
        1024
      ],
      "id": "eea5756b-c296-42a1-b237-5e1fb21491a4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -80,
        1024
      ],
      "id": "9c5cefcb-bf32-4bc3-aec8-206db0e4f5aa",
      "name": "Execute a SQL query1",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        1024
      ],
      "id": "e9887270-ec68-49dc-ae0f-63345afabbc1",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        96,
        1264
      ],
      "id": "320f4eab-6332-4821-a212-553f37a626fc",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        752,
        1040
      ],
      "id": "ebcb59e5-293e-4325-aaa9-9081a445b2ca",
      "name": "Execute a SQL query3",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -240,
        1264
      ],
      "id": "c57759ae-462c-4657-bba7-9e100309a84d",
      "name": "Execute a SQL query4",
      "credentials": {}
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        1264
      ],
      "id": "13d8ef4b-5d48-4bf8-84a3-010ce1939579",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cronlytic Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query4": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "092a5365-43a8-4909-894b-649e6de10bec",
  "meta": {
    "instanceId": "f631725a423a9e302bec0954866d0f8467155323cdbfecd206f00210618659be"
  },
  "id": "cKuGaURLu1Mic6hN",
  "tags": []
}